
/**
 * @file
 * Default CSS Stylesheet for the DXMPP module.
 */

/**
 * Fix the DXMPP Chat block to the bottom right of the page.
 */

.dxmpp-box {
  position: fixed;
  bottom: 0;
  right: 0;
}

#dxmpp-chatbox {
  right: 248px;
  display: none;
}

.dxmpp-collapsed {
  width: 248px;
  color: white;
}

.dxmpp-header {
  width: 248px; height: 27px;
  background-color: transparent;
  /* Place the header over the translucent DIV */
  position: absolute;
  z-index: 2;
  cursor: pointer;
  cursor: hand;
}

/**
 * Give the headers a translucent background.
 */
.dxmpp-translucent {
  /* Must match header size */
  width: 248px; height: 27px;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
  display: block;
}
#dxmpp-main .dxmpp-translucent {
  background-color: #757575;
}
#dxmpp-chatbox .dxmpp-translucent {
  background-color: #8b7ab1;
}
#dxmpp-main .dxmpp-header:hover {
  background-color: #757575;
}
#dxmpp-chatbox .dxmpp-header:hover {
  background-color: #8b7ab1;
}

.dxmpp-header .dxmpp-title {
  float: left;
  width: 200px;
}
.dxmpp-header .dxmpp-button {
  float: left;
  width: 12px;
  border: 1px solid white;
}

.dxmpp-content {
  display: none;
  border: 1px solid black;
  color: black;
  background-color: white;
  height: 400px;
  overflow: auto;
}

.dxmpp-roster-item, .dxmpp-empty-list-message {
  height: 27px;
  width: 246px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  cursor: hand;
}
.dxmpp-roster-item-inner-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.dxmpp-roster-item.last, .dxmpp-empty-list-message {
  border-bottom: none;
}

.dxmpp-roster-item {
  clear: left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
.dxmpp-roster-item:hover {
  background-color: lightpink;
}

.dxmpp-status {
  float: left;
  width: 12px;
  height: 12px;
  margin: 3px 3px;
  display: inline;
  border: 1px solid;
}
.dxmpp-status-online .dxmpp-status {
  background-color: LightGreen;
}
.dxmpp-status-away .dxmpp-status {
  background-color: hotpink;
}
.dxmpp-status-unavailable .dxmpp-status {
  background-color: gray;
}

.dxmpp-username {
  float: left;
  width: 200px;
}
.dxmpp-icon {
  width: 27px;
  height: 27px;
  float: left;
}

#dxmpp-chatbox .ui-tabs .ui-tabs-hide {
  display: none;
}

#dxmpp-chatbox .ui-tabs-nav a {
  display: block;
}

#dxmpp-chatbox .ui-tabs-nav li {
  border: 1px solid gray;
  float: left;
  height: 1.25em;
  overflow: hidden;
  width: 56px;
}

#dxmpp-chatbox .ui-tabs-nav .ui-tabs-selected {
  background-color: gray;
}

.dxmpp-chat-message {
  border-bottom: 1px solid gray;
}
.dxmpp-chat-message-info {
  text-align: right;
  color: gray;
}
.dxmpp-chat-name {
  display: inline;
}
.dxmpp-chat-time {
  display: inline;
}

.dxmpp-chat-messages {
  overflow: auto;
  height: 300px;
  clear: left;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.dxmpp-chat-input {
  height: 60px;
  margin: 6px;
  width: 230px;
}

.dxmpp-me {
  background-color: lightgray;
}

.dxmpp-name {
  display: inline;
}

.dxmpp-title-status {
  display: inline;
}

.dxmpp-settings-status {
  display: inline;
}

.dxmpp-settings {
  display: inline;
}

.dxmpp-chat-subtext {
  border-bottom: 1px dotted gray;
}

.dxmpp-chat-events {
  font-style: italic;
  color: gray;
}
